---
import { errorCodes } from './errorCodes';
interface Props {
	errorCode: number;
	showCacicDescription?: boolean;
}
const { errorCode, showCacicDescription = false } = Astro.props;
const error = errorCodes[errorCode];
---

<div class="container">
	<h1>
		{errorCode} {error.english}
	</h1>
	<h2>
		{error.portuguese}
	</h2>
	<p class="message">
		{error.description}<sup
			><a
				href=`https://developer.mozilla.org/en-US/docs/Web/HTTP/Status/${errorCode}`
				target="_blank">[↗]</a
			></sup
		>
	</p>
	{
		showCacicDescription && error.cacicDescription && (
			<p class="message">{error.cacicDescription}</p>
		)
	}
</div>

<style>
	.container {
		text-align: center;
		padding: 1rem;
	}
	h1,
	h2 {
		margin: 0;
		font-weight: 600;
	}
	.message {
		white-space: pre-wrap;
		line-height: 1.6;
	}

	sup {
		line-height: 0;
		vertical-align: super;
		font-size: 0.6em;
	}

	sup a {
		color: #000;
		text-decoration: none;
	}
	sup a:hover {
		text-decoration: underline;
	}
</style>
